{% extends 'base.html.twig' %}

{% block body %}
<div style="display: flex;align-items:center;justify-content: center ; margin-block-start: 100px;">
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
   <div class="row">
<div class="bg-light rounded h-100 p-4">
                
                    <h5 class=class="mb-4">  event Table </h5>

     <table class="table">
        <thead>
            <tr>
                <th>nom</th>
                <th>type</th>
                <th>description</th>
                <th>Date</th>
                <th>categorie</th>
                <th>Modification</th>
                <th>suppression</th>
                
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.nom }}</td>
                    <td>{{ event.type }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.date|date('d/m/Y') }}</td>     
   <td>{{ event.getCategorie().getNomCateg() ?? "" }}</td>

                    <td>
                        <a class="btn btn-success" href="{{ path('modify_event', {'id': event.id}) }}">Modifier</a>
                    </td>
                    <td>
           <a class="btn btn-danger"href="{{path('supp_event',{'id':event.id})}}">suppression</a>
           </td>
           
            {% endfor %}
        </tbody>
    </table>
{% endblock %}