{% extends 'basepage.html.twig' %}

{% block title %}Mes Abonnements
{% endblock %}
{% block titre %}Mes Abonnements
{% endblock %}
{% block breadcrumbs %}Mes Abonnements
{% endblock %}

{% block body %}

	<a style="border: 1px solid #01d28e; padding: 10px;" href="{{ path('app_abonnement_new') }}">Ajouter Abonnement</a>
	<div style="margin-top: 50px; display: flex;">
		{% for abonnement in abonnements %}
			<div class="col-md-4" style="display: block; margin: 10px;">
				<div class="car-wrap rounded ftco-animate">
					<img class="img rounded d-flex align-items-end" src="{{ asset('uploads/' ~ abonnement.image) }}"/>
				</div>
				<div class="text">
					<h2 class="mb-0">
						<a href="car-single.html">{{ abonnement.nom }}
							{{ abonnement.prenom }}</a>
					</h2>
					<div class="d-flex mb-3" style="display: flex;">
						<div style="margin-left: 0; margin-right: auto;">
							<span style="margin-left: 0; margin-right: auto;" class="cat">{{ abonnement.identifiant }}</span>
							<span class="cat">{{ abonnement.cin }}</span>
							<span class="cat">{{ abonnement.email }}</span>
							<span class="cat">{{ abonnement.type }}</span>
						</div>
						<div style="margin-right: 0; margin-left: auto;">
							<p class="price ml-auto">{{ abonnement.prix }}
								TND</p>
							<p class="price ml-auto">{{ abonnement.type }}</p>
							<p class="price ml-auto">{{ abonnement.dated ? abonnement.dated|date('Y-m-d') : '' }}
								-
								{{ abonnement.datef ? abonnement.datef|date('Y-m-d') : '' }}</p>
						</div>
					</div>
					<p class="d-flex mb-0 d-block">
						<a href="{{ path('app_abonnement_edit', {'id': abonnement.id}) }}" class="btn btn-primary py-2 mr-1">Edit</a>
						<a href="{{ path('app_abonnement_show', {'id': abonnement.id}) }}" class="btn btn-secondary py-2 ml-1">Details</a>
					</p>
				</div>
			</div>
		</div>
	{% else %}
		<div class="col-md-4">
			<p>no records found</p>
		</div>
	{% endfor %}
</div>{% endblock %}
